<!--
  Generated template for the Save2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="volver()">
        <ion-icon name="md-arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Datos Comerciales</ion-title>
    <ion-buttons end>
    	 <button ion-button icon-only color="royal" (click)="save()">
        <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

		<ion-list>
		<ion-item>
		    <ion-label floating>Fase</ion-label>
		    <ion-select [(ngModel)]="data.fase" name="fase">
		    	<ion-option value="1">FASE</ion-option>
		    </ion-select>
		  </ion-item>

		
		<ion-item>
		    <ion-label floating>Inventaio semestre Anterior</ion-label>
		    <ion-input type="text"  [(ngModel)]="data.inventario_semestre_anterior_b11"></ion-input>
		  </ion-item>

		  
		<ion-item>
		    <ion-label floating>Inventario Actual A12 </ion-label>
		    <ion-input type="text"  [(ngModel)]="data.inventario_actual_a12"></ion-input>
		  </ion-item>

		 
		<ion-item>
		    <ion-label floating>Diferencia</ion-label>
		    <ion-input type="text"  [(ngModel)]="data.diferencia"></ion-input>
		  </ion-item>

		 
		<ion-item>
		    <ion-label floating>Consumo estimado Concentrado</ion-label>
		    <ion-input type="text"  [(ngModel)]="data.consumo_estimado_concentrado"></ion-input>
		 </ion-item>


		 <ion-item>
		    <ion-label floating>Ventas Contregal</ion-label>
		    <ion-input type="text"  [(ngModel)]="data.ventas_contegral"></ion-input>
		  </ion-item>

		 
		<ion-item>
		    <ion-label floating>Ventas Finca</ion-label>
		    <ion-input type="text"  [(ngModel)]="data.ventas_finca"></ion-input>
		  </ion-item>

		

		  <ion-item>
		  	<ion-label floating>Ventas GEC</ion-label>
			 <ion-input type="text"  [(ngModel)]="data.ventas_gec"></ion-input>
		  </ion-item>


		

		 <ion-item>
		  	<ion-label>Marca Concentrado</ion-label>
			<ion-select [(ngModel)]="data.marca_concentrado">
				 <ion-option value="1">SOLLA</ion-option>
			</ion-select>
		</ion-item>

		 <ion-item>
		  	<ion-label>Categoria</ion-label>
			<ion-select [(ngModel)]="data.categoria">
				 <ion-option value="1">MARCA</ion-option>
			</ion-select>
		</ion-item>


		  <ion-item>
			<ion-label floating>Consumo</ion-label>
			<ion-input type="text" placeholder=""  [(ngModel)]="data.consumo_estimado_sale"></ion-input>
		</ion-item>

		  <ion-item>
		  	<ion-label>Sales</ion-label>
			<ion-select [(ngModel)]="data.sales">
				 <ion-option value="1">SOLLA</ion-option>
			</ion-select>
		</ion-item>

		  
		 <ion-item>
		  	<ion-label>Raza</ion-label>
			<ion-select [(ngModel)]="data.raza">
				 <ion-option value="1">Holstein</ion-option>
			</ion-select>
		</ion-item>

		 <ion-item>
			<ion-label floating>A quien Vende Leche</ion-label>
			<ion-input type="text" placeholder=""  [(ngModel)]="data.a_quien_vende_leche"></ion-input>
		</ion-item>

		


		  	
	

		


	</ion-list>

</ion-content>
