<!--
  Generated template for the SelectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content style="background-image: url('assets/imgs/background.jpg'); height: 100%; width:100%;">

	 <!--
		 <ion-fab center middle>

		    <button ion-fab color="danger"><ion-icon name="md-apps"></ion-icon></button>

		    <ion-fab-list side="top">
		      <button ion-fab color="primary" (click)="lecheria()"><ion-icon name="ios-color-fill"></ion-icon></button>
		    </ion-fab-list>

		    <ion-fab-list side="bottom">
		      <button ion-fab color="secondary"><ion-icon name="ios-flask"></ion-icon></button>
		    </ion-fab-list>

		    <ion-fab-list side="left">
		      <button ion-fab color="light"><ion-icon name="md-paw"></ion-icon></button>
		    </ion-fab-list>

		    <ion-fab-list side="right">
		      <button ion-fab color="dark"><ion-icon name="ios-podium"></ion-icon></button>
		    </ion-fab-list>

		  </ion-fab>

		  <button ion-button color="danger" (click)="log_out()">Exit</button>

		-->
		<br><br><br>
		<ion-row>
			<ion-col col-6>
				
				<button ion-button round block (click)="lecheria()" style="height:200px;  background: rgba(0, 0, 0, 0); border: 5px solid white; "  > <br>

					<h3>Lecheria</h3>  </button>
			</ion-col>

			<ion-col col-6>
				
				<button  ion-button color="danger" round block style="height:200px;  background: rgba(0, 0, 0, 0); border: 5px solid white; "   > <h3>Porcicultura</h3>  </button>
			</ion-col >

			
		</ion-row>

		<ion-row>
			<ion-col col-6>
				
				<button  ion-button color="danger" round block style="height:200px;  background: rgba(0, 0, 0, 0); border: 5px solid white;  "  > <br><h3>Avicultura</h3>  </button>
			</ion-col>

			<ion-col col-6>
				
				<button ion-button color="danger" round block style="height:200px;  background: rgba(0, 0, 0, 0); border: 5px solid white;  "   > <h3>Esquinos</h3>  </button>
			</ion-col>

			
		</ion-row>
		
		


		<!--<button ion-button color="primary" round block (click)="lecheria()">Lecheria  </button>
		<br>
		<button ion-button color="primary" round block >Porcicultura   </button>
		<br>
		<button ion-button color="primary" round block >Avicultura  </button>
		<br>
		<button ion-button color="primary" round block >Esquinos   </button>
		<br>
		<button ion-button color="primary" round block >Mascotas  </button>
		<br>
		<button ion-button color="primary" round block >Piscicultura   </button>
		<br>
		<button ion-button color="primary" round block >Punto de Venta   </button>
		<br>
		<button ion-button color="primary" round block >Otros  </button>
		<br>-->

</ion-content>
