<!--
  Generated template for the MapsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>maps</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	 <div #map id="map"></div>
</ion-content>
