<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding style="background-image: url('assets/imgs/background.jpg'); height: 100%; width:100%;" >


	
		<img src="assets/imgs/logoes.png" class="logotipo" id="logotipo" style="background: rgba(0, 0, 0, 0);">
	

<br><br>
<ion-card>
  <ion-card content>

    <ion-list>
  <ion-item>
    <ion-label floating>Username</ion-label>
    <ion-input type="text" [(ngModel)]="data.username" name="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="data.password" name="password"></ion-input>
  </ion-item>
  <br>
</ion-list>
    
  </ion-card>
</ion-card>
<button ion-button block (click)="login()">Iniciar Session</button>

</ion-content>
