<!--
  Generated template for the Save1Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="volver()">
        <ion-icon name="md-arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Censos App</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="save()">
        <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
<div>Datos del Predio</div>
<ion-list>
  <ion-item>
    <ion-label floating>STC</ion-label>
    <ion-input type="text" [(ngModel)]="data.stc"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>ATF</ion-label>
    <ion-input type="text" placeholder="{{ data.atf }}" [(ngModel)]="data.atf"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Nombre Finca</ion-label>
    <ion-input type="text" placeholder="{{ data.nombre_finca }}" [(ngModel)]="data.nombre_finca"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Razon Social</ion-label>
    <ion-input type="text" placeholder="{{ data.razon_social }}" [(ngModel)]="data.razon_social"> </ion-input>
  </ion-item>

   <ion-item>
    <ion-label floating>Productor</ion-label>
    <ion-input type="text" placeholder="{{ data.productor }}" [(ngModel)]="data.productor"> </ion-input>
  </ion-item>

   <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="text" placeholder="{{ data.correo_electronico }}" [(ngModel)]="data.correo_electronico"> </ion-input>
  </ion-item>

   <ion-item>
    <ion-label floating>Telefono</ion-label>
    <ion-input type="number" placeholder="{{ data.telefono_contacto }}" [(ngModel)]="data.telefono_contacto"> </ion-input>
  </ion-item>


   <ion-item>
    <ion-label floating>Canal</ion-label>
    <ion-input type="text" placeholder="{{ data.canal }}" [(ngModel)]="data.canal"> </ion-input>
  </ion-item>

</ion-list>

</ion-content>
