<!--
  Generated template for the LecheriaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content>

	
	  <ion-toolbar style="background-color:#24A2D7">
	    <ion-title text-center color="white">Lecheria</ion-title>
	  </ion-toolbar>

	   <ion-fab top right>
		    <button ion-fab><ion-icon name="md-apps"></ion-icon></button>
		    <ion-fab-list>
		      <button ion-fab (click)="save()"><ion-icon name="md-clipboard"></ion-icon></button>
		      <button ion-fab><ion-icon name="md-calendar"></ion-icon></button>
		      <button ion-fab (click)="maps()"><ion-icon name="md-pin"></ion-icon></button>
		      <button ion-fab (click)="configuracion()"><ion-icon name="md-build"></ion-icon></button>
		      <button ion-fab color="danger" (click)="volver()"><ion-icon name="md-log-in"></ion-icon></button>
   		 </ion-fab-list>
   		</ion-fab>
	
	
		
		<button ion-button icon-start small block style="background-color:#E5E111">
				  <ion-icon name="md-stats"></ion-icon>
				  <p style="font-color:#243C53">Visitas {{ total_visitas }}</p>
		</button>
		<br>

		<ion-list  *ngFor="let results of data">
		  <ion-list-header>
		   	 {{ results.fecha }}
		  </ion-list-header>

		 <ion-item (click)="ver_mas(results.pk)">
		    <ion-avatar item-start >
		      <img src="assets/imgs/mas.png">
		    </ion-avatar>
		    <h2>{{ results.nombre_finca }}</h2>
		    <h3>{{ results.municipio }}</h3>
		    <p>{{ results.telefono_contacto }} / {{ results.correo_electronico}} </p>
		  </ion-item>

		</ion-list>
	


</ion-content>
