<!--
  Generated template for the Save3Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal" (click)="volver()">
        <ion-icon name="md-arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Censos App</ion-title>
    <ion-buttons end>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
	<div>Datos de la Ubicacion</div>

	 <ion-item>
	    <ion-label floating>Zona</ion-label>
	    <ion-input type="text" name="zona" [(ngModel)]="data2.zona" placeholder=""></ion-input>
	  </ion-item>

	<ion-item>
	    <ion-label>Municipio</ion-label>
	    <ion-select [(ngModel)]="gaming" name="municipio" [(ngModel)]="data2.municipio" placeholder="{{ data.municipio }}">
	      <ion-option value="nes">NES</ion-option>
	    </ion-select>
	  </ion-item>

	 <ion-item>
	    <ion-label floating>Vereda</ion-label>
	    <ion-input type="text" name="vereda" [(ngModel)]="data2.vereda" placeholder="{{ data.vereda }}"></ion-input>
	 </ion-item>
	 	 <ion-label fixed>Coordenadas</ion-label>
	 	<ion-grid>
		  <ion-row>
		    <ion-col col-4>
		    	 <ion-item>
				    <ion-label floating>Latitud</ion-label>
				    <ion-input type="text" name="latitud" [(ngModel)]="data2.latitud"></ion-input>
				 </ion-item>
		    </ion-col>

		    <ion-col col-4>
		    	 <ion-item>
				    <ion-label floating>Longitud</ion-label>
				    <ion-input type="text" name="longitud" [(ngModel)]="data2.longitud"></ion-input>
				 </ion-item>
		    </ion-col>

		    <ion-col col-4>
		    	 <ion-item>
				    <ion-label floating>Altitud</ion-label>
				    <ion-input type="text" name="altitud" [(ngModel)]="data2.altitud"></ion-input>
				 </ion-item>
		    </ion-col>

		  </ion-row>
		</ion-grid>

</ion-content>
