<!--
  Generated template for the ConfiguracionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mi cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-image: url('assets/imgs/background.jpg'); height: 100%; width:100%;">
	<br><br>

	<ion-card>
		<ion-card content>

			<ion-list>

			  <ion-item>
			    <ion-label floating>Nomre de Usuario</ion-label>
			    <ion-input type="text" value="ApiInova"></ion-input>
			  </ion-item>

			  <ion-item>
			    <ion-label floating>Correo</ion-label>
			    <ion-input type="text" value="ApiInova@innova.com"></ion-input>
			  </ion-item>

			  <ion-item>
			    <ion-label floating>Identificacion</ion-label>
			    <ion-input type="text" value="identificacion"></ion-input>
			  </ion-item>

			  <ion-item>
			    <ion-label floating>Zona</ion-label>
			    <ion-input type="text" value="ANTIOQUIA"></ion-input>
			  </ion-item>

			  <br>
			  cambiar contraseña
			  <ion-item>
			    <ion-label floating>Password</ion-label>
			    <ion-input type="password" ></ion-input>
			  </ion-item>
			  <ion-item>
			    <ion-label floating>Nueva Password</ion-label>
			    <ion-input type="password" ></ion-input>
			  </ion-item>

	</ion-list>
			
		</ion-card>
	</ion-card>
	
	<br>

	<button ion-button block color="danger">Actalizar Informacion</button>

</ion-content>
